.burger {
  &-btn {
    z-index: 999;
    width: 50px;
    &:before, &:after, & div {
      background: #fff;
      content: "";
      display: block;
      height: 6px;
      border-radius: 3px;
      margin: 7px 0;
      transition: 0.5s;
    }
    &_active {
      &:before {
        transform: translateY(12px) rotate(135deg);
      }
      &:after {
        transform: translateY(-12px) rotate(-135deg);
      }
      & div {
        transform: scale(0);
      }
    }
  }
  &-menu {
    position: fixed;
    display: none;
    right: 0;
    z-index: 9999;
    width: 100%;
    max-width: 400px;
    height: 100%;
    &:before {
      position: fixed;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      width: 100%;
      max-width: 400px;
      background-color: $alt-bg-color;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 16% 100%);
    }
    .burger {
      &-btn {
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 9999;
        &:before, &:after, & div {
          background-color: $accent-color;
        }
      }
    }
    &__list {
      position: relative;
      top: 30%;
      right: -40%;
      width: fit-content;
      &-link {
        position: relative;
        display: block;
        width: fit-content;
        font-size: 22px;
        font-weight: 600;
        color: $inactive-text-color;
        text-decoration: none;
        &:after {
          position: absolute;
          content: '';
          left: auto;
          bottom: 0px;
          right: 0;
          width: 0%;
          height: 2px;
          background-color: $accent-color;
          transition: .3s;
        }
        &:hover {
          &:after {
            width: 100%;
            left: 0;
            right: auto;
          }
        }
        &:not(:last-child) {
          margin-bottom: 14px;
        }
      }
    }
  }
}