@media (max-width: 1200px) {
  .promo {
    margin-bottom: 100px;
    &__collage {
      &_left {
        top: -140%;
        left: -60%;
      }
      &_right {
        top: -230%;
        right: -55%;
      }
    }
    &__wrap {
      &:after {
        bottom: 0;
      }
    }
    &__col {
      width: 70%;
    }
    &__man {
      top: 0;
    }
  }
  .features {
    &__iphone {
      width: 350px;
    }
    &__collage {
      width: 430px;
    }
  }
  .footer {
    &__logo {
      width: 210px;
    }
    &__nav {
      &-link {
        &:nth-last-child(-n+2) {
          display: none;
        }
        &:nth-child(2) {
          margin-right: 0;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .header {
    &__menu {
      display: none;
    }
  }
  .promo {
    &__collage {
      &_right {
        top: -250%;
        right: -85%;
        transform: rotate(342deg);
      }
    }
    &__col {
      margin-bottom: 80px;
    }
    &__man {
      position: absolute;
      top: 0px;
      right: -10px;
      z-index: -1;
      width: 470px;
    }
  }
  .features {
    padding-bottom: 30px;
    &__wrap {
      flex-direction: column;
    }
    &__col {
      &:first-child {
        margin-bottom: 30px;
        max-width: 100%;
      }
    }
    &__collage {
      &-wrap {
        position: relative;
      }
    }
    &__iphone {
      left: 50%;
    }
  }
  .footer {
    &__col {
      &:first-child {
        flex-direction: column;
        align-items: center;
      }
    }
    &__logo {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 768px) {
  .section {
    &__title {
      text-align: center;
      justify-content: center;
      &_tail {
        &:after {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  .header {
    margin-bottom: 60px;
  }
  .promo {
    text-align: center;
    &__collage {
      &_left {
        top: 30%;
        left: -50%;
        &-circle {
          width: 300px;
          height: 300px;
        }
      }
      &_right {
        top: -80%;
        right: -245%;
        transform: rotate(150deg);
        &-square {
          -webkit-border-radius: 90px;
          -moz-border-radius: 90px;
          border-radius: 90px;
        }
      }
    }
    &__col {
      width: 100%;
    }
    &__list {
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__man {
      display: none;
    }
  }
  .features {
    &__title {
      &-icon {
        position: absolute;
        top: -30px;
        left: calc(50% - 10px);
        transform: translateX(-50%);
      }
    }
    &__list {
      text-align: center;
      max-width: 380px;
      margin-left: auto;
      margin-right: auto;
      &-item {
        flex-direction: column;
        align-items: center;
        &-icon {
          margin-right: 0;
        }
      }
    }
    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  .footer {
    &__wrap {
      flex-direction: column;
    }
    &__col {
      margin-bottom: 40px;
    }
    &__nav {
      &-link {
        width: 48%;
        margin-bottom: 20px;
        margin-right: 0;
        font-size: 20px;
        text-align: center;
        &:nth-last-child(-n+2) {
          display: block;
          margin-bottom: 0;
        }
      }
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 576px) {
  .promo {
    &__wrap {
      &:after {
        width: 95%;
      }
    }
  }
  .features {
    &__collage {
      width: 100%;
    }
    &__iphone {
      width: 85%;
    }
  }
}

@media (max-width: 480px) {
  .features {
    &__form {
      &-input {
        &s {
          flex-direction: column;
        }

        margin-right: 0;
        margin-bottom: 15px;
        max-width: 100%;
      }
      &-button {
        width: 100%;
      }
    }
  }
}

@media (max-width: 405px) {
  .promo {
    &__title {
      font-size: 38px;
    }
    &__list {
      &-item {
        font-size: 20px;
      }
    }
  }
}