$main-bg-color: #F6F6F6;
$alt-bg-color: #D6D6D6;
$input-bg-color: #E5E5E5;
$input-alt-bg-color: #FFF;

$main-text-color: #000;
$alt-text-color: #FFF;
$inactive-text-color: #989898;
$action-color: #CF5389;
$accent-color: #A4DF59;